class-dump.xcodeproj/xcuserdata/smorr.xcuserdatad/xcschemes/all.xcscheme
class-dump.xcodeproj/xcuserdata/smorr.xcuserdatad/xcschemes/class-dump.xcscheme
class-dump.xcodeproj/xcuserdata/smorr.xcuserdatad/xcschemes/deprotect.xcscheme
class-dump.xcodeproj/xcuserdata/smorr.xcuserdatad/xcschemes/formatType.xcscheme
class-dump.xcodeproj/xcuserdata/smorr.xcuserdatad/xcschemes/MachObjC.xcscheme
class-dump.xcodeproj/xcuserdata/smorr.xcuserdatad/xcschemes/xcschememanagement.plist
